<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multilanguage_listview">

    <application
        android:allowBackup="true"
        android:icon="@drawable/laucher"
        android:label="AnimaApp"
        android:roundIcon="@drawable/laucher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiLanguage_ListView">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.multilanguage_listview.DaftarHewanActivity"
            android:parentActivityName="com.example.multilanguage_listview.MainActivity"/>
        <activity android:name="com.example.multilanguage_listview.Profile"
            android:parentActivityName="com.example.multilanguage_listview.MainActivity"/>
        <activity android:name="com.example.multilanguage_listview.ProfileHewan"/>
    </application>

</manifest>